@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/fonts/icomoon.eot?dn5swv');
	src:url('../fonts/icomoon/fonts/icomoon.eot?#iefixdn5swv') format('embedded-opentype'),
		url('../fonts/icomoon/fonts/icomoon.ttf?dn5swv') format('truetype'),
		url('../fonts/icomoon/fonts/icomoon.woff?dn5swv') format('woff'),
		url('../fonts/icomoon/fonts/icomoon.svg?dn5swv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

html
{
  clear:both;
  height: 100%;
  color:white;
  font-family: 'Open Sans', sans-serif;

  h1
  {
		text-align: center;
		font-size: 30px;
		color:#f1c40f;
		margin-bottom: 10px;
  }

  h2
  {
		text-align: center;
		font-size: 25px;
		color:#f1c40f;
		margin-bottom: 10px;
  }
}

.footer
{
	margin-top: 40px;
	height: 20px;
	width: 100%;
	background-color: grey;
	opacity: 0.5;

  ul
  {
		float: right;
		a
		  {
				color:#000000;
				text-decoration: none;
				font-size: 15px;
    		position: relative;
		  }
		a:after
			{
  			content: '';
  			position: absolute;
  			bottom: 0;
  			left: 0;
  			width: 0%;
  			border-bottom: 2px solid black;
  			transition: 0.4s;
  			color:#27ae60;
			}
		a:hover:after
			{
				 color:#27ae60;
  			 width: 100%;
			}
  }
}

.navi
{
  background: white;
  height: 120px;
  width: 100%;
  border-bottom: 1px solid black;
  .logo
  {
		position: absolute;
		padding: 10px;
		height: 100px;
		width:80px;
		background-color: white;
		img
		{
	  	width:100%;
	  	height: 100%;
		}
  }

  ul
  {
		margin-left: 100px;
		margin-right: 15px;
		height:100%;

		li
			{
		  	float: right;
		  	margin-left: 30px;
		  	height:100%;
		  	text-align: center;
		  	line-height: 120px;
			}
		a
		  {
				color:#000000;
				text-decoration: none;
				font-size: 15px;
    		position: relative;
		  }
		a:after
			{
  			content: '';
  			position: absolute;
  			bottom: 0;
  			left: 0;
  			width: 0%;
  			border-bottom: 2px solid black;
  			transition: 0.4s;
  			color:#27ae60;
			}
		a:hover:after
			{
				 color:#27ae60;
  			 width: 100%;
			}
  }
}

body
{
  height: 100%;
}

.Main
{
  width: 100%;
  height:100%;
  background-color: white;
  margin-top: 10px;
  position: relative;
}

.verkauf
{
  height:100%;
  background-color: white;
  padding: 0px 10px 0px 10px;
  margin-top: 100px;
  position: relative;

  .contentVerkauf
  {
  	text-align: center;
  }

  .brix-btn
  {
	background-color: #59AB27;
	border:none;
	margin:5px;
	padding:10px;
	font-weight: bold;
	cursor: pointer;
	color:#ffffff;
	text-transform: uppercase;
    transition: background-color 1s ease;
  }
  .brix-btn:hover
  {
	background-color: #27ae60;
	border-color:#27ae60;
	color:#ffffff;
  }

  .row
  {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
  }
  .name
  {
		display:none;
  }
  .winterhart
  {
		dislay:block;
  }
  .pflegeleicht
  {
		dislay:block;
  }
  .wenig_licht
  {
		dislay:block;
  }
  .wenig_wasser
  {
		dislay:block;
  }
  .portfolio
  {
		margin: 5px;
		flex-basis: 19%;
		position: relative;
  }
  .portfolio:hover
  {
		cursor: pointer;
		opacity: 0.6;
		.name
		{
		  display: block;
		  color: white;
		  position: absolute;
		  top: 0;
		  left:0;
		  height: 100%;
		  width: 100%;
		  text-align: center;
		  h3
		  {
				font-size: 30px;
				font-weight: bold;
		  }
		  p
		  {
				font-size: 20px;
				font-weight: bold;
		  }
		}
  }
}

.bilder-galary
{
  height:100%;
  background-color: #27ae60;
  position: relative;
  .slider
  {
	text-align: center;
	position: relative;
	height: 500px;
	overflow: hidden;

	.wrapper
	{
	  overflow: hidden;
	  width:100%;

	  .container
	  {
		height: 500px;
		@include transition(transform 0.5s);
	  }
	}


	.btn-back
	{
	  left:0px;
	  top:50%;
	  height: 30px;
	  width: 30px;
	  position: absolute;
	  z-index: 1;

	  &:before {
	  	font-family: 'icomoon';
	  	content:"\e600";
	  	position: absolute;
	  	width: 100%;
	  	height: 100%;
	  	right:0;
	  	font-size: 30px;
	  	@include transform(rotate(180deg));
	  }

	  &:hover
	  {
	  	cursor: pointer;
	  }
	}
	.btn-next
	{
	  right:0px;
	  top:50%;
	  height: 30px;
	  width: 30px;
	  position: absolute;
	  z-index: 1;

	  &:before {
	  	font-family: 'icomoon';
	  	content:"\e600";
	  	position: absolute;
	  	width: 100%;
	  	height: 100%;
	  	left:0;
	  	font-size: 30px;
	  }

	  &:hover
	  {
	  	cursor: pointer;
	  }
	}
	.slider-content
	{
	  height: 500px;
	  z-index:100;
	  .picture
	  {
		float: left;
		width:10%;
		height:500px;
		width: 100%;
		&#pic-1{background-color: midnightblue;}
		&#pic-2{background-color: darkmagenta;}
		&#pic-3{background-color: aquamarine;}
		&#pic-4{background-color: chocolate;}
	  }
	  .picture.show
	  {
	  }
	}
  }
}

.angebot
{
  height:100%;
  background-color: white;
  color:black;
  padding: 0px 10px 0px 10px;
  margin-top: 100px;
  position: relative;
  table
  {
	width:100%;
	height:500px;
	tr
	{
	  td
	  {
			border:2px solid grey;
	  }
	}
  }
  .content
  {
    width: 100%;
	display: flex;
    .container
    {
      margin:10px;
      width: 100%;
      border: 1px solid #59AB27;
      border-radius: 10px;
      padding:20px 10px 20px 60px;
      background-color: #59AB27;
      color: white;
      transition: background-color 1s ease;

      &:hover
      {
        background-color: #27ae60;
      }
    }
    .icon
    {
      height:100%;
      width:100%;
      left: -45px;
      position: relative;
      padding: 5px;
    }

	#quality
	{
		&:before
		{
          font-family: 'icomoon';
          content:"\e601";
          position: absolute;
          width: 100%;
          height: 100%;
          font-size: 30px;
	    }
	}

	#scenery
	{
		&:before
		{
          font-family: 'icomoon';
          content:"\e602";
          position: absolute;
          width: 100%;
          height: 100%;
          font-size: 30px;
	    }
	}

	#wedding
	{
		&:before
		{
          font-family: 'icomoon';
          content:"\e603";
          position: absolute;
          width: 100%;
          height: 100%;
          font-size: 30px;
	    }
	}

	#grave
	{
		&:before
		{
          font-family: 'icomoon';
          content:"\e605";
          position: absolute;
          width: 100%;
          height: 100%;
          font-size: 30px;
	    }
	}

	#advice
	{
		&:before
		{
          font-family: 'icomoon';
          content:"\e606";
          position: absolute;
          width: 100%;
          height: 100%;
          font-size: 30px;
	    }
	}

	#happy
	{
		&:before
		{
          font-family: 'icomoon';
          content:"\e604";
          position: absolute;
          width: 100%;
          height: 100%;
          font-size: 30px;
	    }
	}

		.text
		{
		  .head
		  {
				font-size: 20px;
				margin-bottom: 5px;
				margin-left:40px;
				padding-top: 5px;
				padding-bottom: 5px;
		  }

		 	.underline
		 	{
				width:50%;
				background-color:white;
				height:1px;
				margin-left: 40px;
				margin-bottom: 8px;
		 	}
		}
  }
}

.kontakt
{
  height:100%;
  background-color: white;
  padding: 0px 10px 0px 10px;
  margin-top: 100px;
  position: relative;

  .formular
  {

  }

  .input-box
  {
		width:500px;
		height: 20px;
		background-color: gray;
		border:none;
		margin-top: 10px;
		opacity: 0.5;
		color: white;
  }


  .description
  {
		width:99%;
		height:150px;
		border:none;
		margin-top: 10px;
		background-color: gray;
		opacity: 0.5;
		color: white;
  }

  .error
  {
		width:500px;
		height:20px;
		background-color: #e74c3c;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		text-align: center;
		font-size: 15px;
		font-weight: bold;
  }

  .brix-btn-form
  {
      background-color: #59AB27;
      border:none;
      margin-top:5px;
      padding:10px;
      font-weight: bold;
      cursor: pointer;
      color:#ffffff;
      text-transform: uppercase;
      width: 100%;
      transition: background-color 1s ease;

	  &:hover
	  {
        background-color: #27ae60;
        border-color:#27ae60;
        color:#ffffff;
	  }
  }

  .formular-berreich
  {
	width:500px;
	margin: 0 auto;
	ul
	{
	  li
	  {
		background-color:red;
	  }
	}
  }
}

.layer
{
  position: fixed;
  width:100%;
  height:100%;
  opacity: 0.9;
  background-color: rgb(10,0,10);
  left:0;
  top:0;
  display:none;
  z-index:5;

  &.active {
	display: block;
  }

  .content-wrapper
  {
		position: relative;
		margin: 0 auto;
		width:500px;
		display: block;
		margin-top: 10px;
  }

  .layer-content
  {
		margin: 0 auto;
		background-color: #ffffff;
		width:100%;
		display: block;
		margin-top: 10px;
		color:black;

		p
		{
			margin: 10px 20px 5px 20px;
			padding-bottom: 15px;
		}

  }

  .close-layer
  {
		position: absolute;
		width: 30px;
		height: 30px;
		top:0;
		right:0;
		cursor: pointer;
		color:red;

		&:before
		{
      font-family: 'icomoon';
      content:"\e608";
      position: absolute;
      width: 100%;
      height: 100%;
      font-size: 30px;
	  }
  }

}
.Kalender
{
  margin-top:100px;
}
.kalenderbackground
{
  height:100%;
  width:100%;
  background-image: url("../img/anemone.jpg");
  opacity: 0.7;
  position: absolute;
  @include background-size(cover);
}

.kalenderberreich
{
  height:100%;
  padding: 80px 10px 80px 10px;
  margin-top: 10px;
  position: relative;
  color:black;
  table
  {
    width: 70%;
    margin:0 auto;
	  height:500px;
    padding: 10px;
	  tr
	  {
			border:1px solid black;

			td
			{
				width:14%;
				height: 20%;
			  border:1px solid black;
			  vertical-align: baseline;
			  background: rgba(255, 255, 255, 0.5);
			}
	  }
  }

  .event
  {
		padding: 10px;
  }

  .number
  {
    padding-top: 10px;
    border-bottom: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
  }

  .innerEvent
  {
    width:100%;
    background:blue;
    font-size: 10px;
  }
}
.KalenderButtonNext
{
  float: right;
  padding-right: 10px;
  color: black;

  	&:before
	{
	  font-family: 'icomoon';
	  content:"\e607";
	}

    &:hover
    {
      cursor: pointer;
    }
}

.KalenderButtonLast
{
  float: right;
  margin-right: 20px;
  margin-bottom: 10px;
  color: black;
  @include transform(rotate(180deg));

  	&:before
	{
	  font-family: 'icomoon';
	  content:"\e607";
	}

    &:hover
    {
      cursor: pointer;
    }
}

.month
{
	color:black;
}

.saveBtn
{
  background-color: Black;
  border:none;
  margin:5px;
  padding:10px;
  font-weight: bold;
  cursor: pointer;
  color:#ffffff;
  text-transform: uppercase;
}

.formularLayer
{
  position: fixed;
  width:100%;
  height:100%;
  opacity: 0.9;
  background-color: rgb(10,0,10);
  left:0;
  top:0;
  display:none;
  z-index:5;

  &.active {
	display: block;
  }

  .content-wrapper
  {
	position: relative;
	margin: 0 auto;
	width:500px;
	display: block;
	margin-top: 10px;
  }

  .layer-content
  {
	margin: 0 auto;
	background-color: #ffffff;
	width:100%;
	display: block;
	margin-top: 10px;
  }

  .close-layer
  {
	position: absolute;
	background-color: red;
	width: 30px;
	height: 30px;
	top:0;
	right:0;
	cursor: pointer;
	@include transform(rotate(45deg));
  }

}

.text-box
{
  width:500px;
  line-height: 23px;
  margin: 0 auto;
  margin-top:15px;
  margin-bottom: 60px;
  text-align: center;
  color: black;

  h2
  {
    text-align: center !important;
  }
}


