.navi
{
  background: limegreen;
  height: 60px;
  width: 100%;
  .logo
  {
    position: absolute;
    background:forestgreen;
    height: 60px;
    width:60px;
  }
  ul
  {
    margin-left: 50%;
    li
    {
      float: left;
      margin-left: 10%;
      margin-top: 3%;
      text-align: center;
      a
      {
        color:#000000;
        text-decoration: none;
      }
      a:hover
      {
        color:#ffffff;
      }
    }
  }
}

body
{
  height: 100%;
}

html
{
  clear:both;
  font-family: 'PT Sans Caption', sans-serif !important;
  height: 100%;

  h1
  {
    text-align: center;
    font-size: 23px;
    color:red;
  }
  h2
  {
    text-align: center;
    font-size: 18px;
    color:blue;
  }
}

.Main
{
  width: 100%;
  height:100%;
  background-color: #ffffff;
  margin-top: 10px;
  position: relative;
}

.verkauf
{
  height:100%;
  background-color: #ffffff;
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
  position: relative;
  background-color: greenyellow;

  .brix-btn
  {
    background-color: darkgreen;
    border:none;
    margin:5px;
    padding:10px;
    font-weight: bold;
    cursor: pointer;
    color:#ffffff;
    text-transform: uppercase;
  }
  .brix-btn:hover
  {
    background-color: #ffffff;
    border-color:darkgreen;
    color:darkgreen;
  }

  .row
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .name
  {
    display:none;
  }
  .winterhart
  {
    dislay:block;
  }
  .pflegeleicht
  {
    dislay:block;
  }
  .wenig_licht
  {
    dislay:block;
  }
  .wenig_wasser
  {
    dislay:block;
  }
  .portfolio
  {
    margin: 5px;
    flex-basis: 19%;
  }
  .portfolio:hover
  {
    cursor: pointer;
    opacity: 0.8;
    .name
    {
      display:block;
      margin-top:-100px;
      color: white;
    }
  }
}

.bilder-galary
{
  height:100%;
  background-color: #ffffff;
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
  position: relative;
  .slider
  {
    text-align: center;
    position: relative;
    height: 500px;
    overflow: hidden;

    .wrapper
    {
      overflow: hidden;
      width:100%;

      .container
      {
        height: 500px;
        @include transition(transform 0.5s);
      }
    }


    .btn-back
    {
      left:0px;
      top:50%;
      height: 30px;
      width: 30px;
      background-color: red;
      position: absolute;
      z-index: 1;
    }
    .btn-next
    {
      right:0px;
      top:50%;
      height: 30px;
      width: 30px;
      background-color: red;
      position: absolute;
      z-index: 1;
    }
    .slider-content
    {
      height: 500px;
      z-index:100;
      .picture
      {
        float: left;
        width:10%;
        height:500px;
        width: 100%;
        &#pic-1{background-color: midnightblue;}
        &#pic-2{background-color: darkmagenta;}
        &#pic-3{background-color: aquamarine;}
        &#pic-4{background-color: chocolate;}
      }
      .picture.show
      {
      }
    }
  }
}

.angebot
{
  height:100%;
  background-color: #ffffff;
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
  position: relative;
  table
  {
    width:100%;
    height:500px;
    tr
    {
      td
      {
        border:2px solid grey;
      }
    }
  }
  .content
  {
    width: 100%;
    display: flex;
    .container
    {
      margin:10px;
      width: 100%;
    }
    .icon
    {
      height:30px;
      width:30px;
      background:red;
      margin: 0px;
      margin-left: -35px;
      padding:0px;
      position: absolute;
    }
    .text
    {
      padding-left: 35px;
      .head
      {
        font-size: 20px;
        margin: 0px;
        padding:0px;
        color: gray;
      }
    }
  }
}

.kontakt
{
  height:100%;
  background-color: #ffffff;
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
  position: relative;

  .formular
  {

  }

  .input-box
  {
    width:500px;
    height: 20px;
    background-color: gray;
    border:none;
    margin-top: 10px;
    opacity: 0.5;

  }


  .description
  {
    width:500px;
    height:150px;
    border:none;
    margin-top: 10px;
    background-color: gray;
    opacity: 0.5;
    color:white;
  }

  .error
  {
    width:500px;
    height:20px;
    background-color: red;
  }

  .brix-btn
  {
    background-color: gray;
    border:none;
    margin:5px;
    padding:10px;
    font-weight: bold;
    cursor: pointer;
    color:#ffffff;
    text-transform: uppercase;
  }

  .text-box
  {
    width:500px;
    float:left;
    margin-left: 20px;
    h2
    {
      text-align: left !important;
    }
  }

  .formular-berreich
  {
    width:500px;
    float:left;

    ul
    {
      li
      {
        background-color:red;
      }
    }
  }
}

.background
{
  background:darkgreen;
}

.layer
{
  position: fixed;
  width:100%;
  height:100%;
  opacity: 0.9;
  background-color: rgb(10,0,10);
  left:0;
  top:0;
  display:none;
  z-index:5;

  &.active {
    display: block;
  }

  .content-wrapper
  {
    position: relative;
    margin: 0 auto;
    width:500px;
    display: block;
    margin-top: 10px;
  }

  .layer-content
  {
    margin: 0 auto;
    background-color: #ffffff;
    width:100%;
    display: block;
    margin-top: 10px;
  }

  .close-layer
  {
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    top:0;
    right:0;
    cursor: pointer;
    @include transform(rotate(45deg));
  }

}

.kalenderberreich
{
  height:100%;
  background-color: #ffffff;
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
  position: relative;
  color: red;
  table
  {
      width:100%;
      height:500px;
      border:10px solid blue;
      tr
      {
        border:3px solid red;
        td
        {
          border:2px solid grey;
        }
      }
  }
}
.KalenderButton
{
  width: 50px;
  height: 50px;
  background: red;
  float: right;
}
