@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/fonts/icomoon.eot?-4441qg');
	src:url('../fonts/icomoon/fonts/icomoon.eot?#iefix-4441qg') format('embedded-opentype'),
		url('../fonts/icomoon/fonts/icomoon.ttf?-4441qg') format('truetype'),
		url('../fonts/icomoon/fonts/icomoon.woff?-4441qg') format('woff'),
		url('../fonts/icomoon/fonts/icomoon.svg?-4441qg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.navi
{
  background: white;
  height: 110px;
  width: 100%;
  .logo
  {
		position: absolute;
		height: 100px;
		width:80px;
		background-color: white;
		img
		{
	  	width:100%;
	  	height: 100%;
		}
  }

  ul
  {
		margin-left: 100px;
		height:100%;

		li
			{
		  	float: left;
		  	margin-left: 10%;
		  	height:100%;
		  	text-align: center;
		  	line-height: 110px;
			}
		a
		  {
				color:#000000;
				text-decoration: none;
				font-size: 20px;
    		position: relative;
		  }
		a:after
			{
  			content: '';
  			position: absolute;
  			bottom: 0;
  			left: 0;
  			width: 0%;
  			border-bottom: 2px solid #27ae60;
  			transition: 0.4s;
  			color:#27ae60;
			}
		a:hover:after
			{
				 color:#27ae60;
  			 width: 100%;
			}
  }
}

body
{
  height: 100%;
}

html
{
  background:#27ae60;
  clear:both;
  height: 100%;
  color:white;
  font-family: 'Open Sans', sans-serif;

  h1
  {
		text-align: center;
		font-size: 30px;
		color:#8e44ad;
		margin-bottom: 10px;
  }

  h2
  {
		text-align: center;
		font-size: 25px;
		color:#8e44ad;
		margin-bottom: 10px;
  }
}

.Main
{
  width: 100%;
  height:100%;
  background-color: #27ae60;
  margin-top: 10px;
  position: relative;
}

.verkauf
{
  height:100%;
  background-color: #27ae60;
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
  position: relative;

  .brix-btn
  {
	background-color: darkgreen;
	border:none;
	margin:5px;
	padding:10px;
	font-weight: bold;
	cursor: pointer;
	color:#ffffff;
	text-transform: uppercase;
  }
  .brix-btn:hover
  {
	background-color: #ffffff;
	border-color:darkgreen;
	color:darkgreen;
  }

  .row
  {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  }
  .name
  {
	display:none;
  }
  .winterhart
  {
	dislay:block;
  }
  .pflegeleicht
  {
	dislay:block;
  }
  .wenig_licht
  {
	dislay:block;
  }
  .wenig_wasser
  {
	dislay:block;
  }
  .portfolio
  {
	margin: 5px;
	flex-basis: 19%;
  }
  .portfolio:hover
  {
	cursor: pointer;
	opacity: 0.8;
	.name
	{
	  display:block;
	  margin-top:-100px;
	  color: white;
	}
  }
}

.bilder-galary
{
  height:100%;
  background-color: #27ae60;
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
  position: relative;
  .slider
  {
	text-align: center;
	position: relative;
	height: 500px;
	overflow: hidden;

	.wrapper
	{
	  overflow: hidden;
	  width:100%;

	  .container
	  {
		height: 500px;
		@include transition(transform 0.5s);
	  }
	}


	.btn-back
	{
	  left:0px;
	  top:50%;
	  height: 30px;
	  width: 30px;
	  position: absolute;
	  z-index: 1;

	  &:before {
	  	font-family: 'icomoon';
	  	content:"\e600";
	  	position: absolute;
	  	width: 100%;
	  	height: 100%;
	  	right:0;
	  	font-size: 30px;
	  	@include transform(rotate(180deg));
	  }
	}
	.btn-next
	{
	  right:0px;
	  top:50%;
	  height: 30px;
	  width: 30px;
	  position: absolute;
	  z-index: 1;

	  &:before {
	  	font-family: 'icomoon';
	  	content:"\e600";
	  	position: absolute;
	  	width: 100%;
	  	height: 100%;
	  	left:0;
	  	font-size: 30px;
	  }
	}
	.slider-content
	{
	  height: 500px;
	  z-index:100;
	  .picture
	  {
		float: left;
		width:10%;
		height:500px;
		width: 100%;
		&#pic-1{background-color: midnightblue;}
		&#pic-2{background-color: darkmagenta;}
		&#pic-3{background-color: aquamarine;}
		&#pic-4{background-color: chocolate;}
	  }
	  .picture.show
	  {
	  }
	}
  }
}

.angebot
{
  height:100%;
  background-color: #27ae60;
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
  position: relative;
  table
  {
	width:100%;
	height:500px;
	tr
	{
	  td
	  {
		border:2px solid grey;
	  }
	}
  }
  .content
  {
	width: 100%;
	display: flex;
	.container
	{
	  margin:10px;
	  width: 100%;
	}
	.icon
	{
	  height:100%;
	  width:100%;
	  left: -45px;
	  position: relative;
	}

	#quality
	{
		&:before
		{
	  	font-family: 'icomoon';
	  	content:"\e601";
	  	position: absolute;
	  	width: 100%;
	  	height: 100%;
	  	font-size: 30px;
	  }
	}

	#scenery
	{
		&:before
		{
	  	font-family: 'icomoon';
	  	content:"\e602";
	  	position: absolute;
	  	width: 100%;
	  	height: 100%;
	  	font-size: 30px;
	  }
	}

	#wedding
	{
		&:before
		{
	  	font-family: 'icomoon';
	  	content:"\e603";
	  	position: absolute;
	  	width: 100%;
	  	height: 100%;
	  	font-size: 30px;
	  }
	}

	#grave
	{
		&:before
		{
	  	font-family: 'icomoon';
	  	content:"\e605";
	  	position: absolute;
	  	width: 100%;
	  	height: 100%;
	  	font-size: 30px;
	  }
	}

	#advice
	{
		&:before
		{
	  	font-family: 'icomoon';
	  	content:"\e606";
	  	position: absolute;
	  	width: 100%;
	  	height: 100%;
	  	font-size: 30px;
	  }
	}

	#happy
	{
		&:before
		{
	  	font-family: 'icomoon';
	  	content:"\e604";
	  	position: absolute;
	  	width: 100%;
	  	height: 100%;
	  	font-size: 30px;
	  }
	}

		.text
		{
		  padding-left: 35px;
		  .head
		  {
				font-size: 20px;
				margin-bottom: 5px;
				margin-left:40px;
				padding-top: 5px;
				padding-bottom: 5px;
		  }

		 	.underline
		 	{
				width:50%;
				background-color:white;
				height:1px;
				margin-left: 40px;
				margin-bottom: 8px;
		 	}
		}
  }
}

.kontakt
{
  height:100%;
  background-color: #27ae60;
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
  position: relative;

  .formular
  {

  }

  .input-box
  {
	width:500px;
	height: 20px;
	background-color: gray;
	border:none;
	margin-top: 10px;
	opacity: 0.5;

  }


  .description
  {
	width:500px;
	height:150px;
	border:none;
	margin-top: 10px;
	background-color: gray;
	opacity: 0.5;
	color:white;
  }

  .error
  {
	width:500px;
	height:20px;
	background-color: red;
  }

  .brix-btn
  {
	background-color: gray;
	border:none;
	margin:5px;
	padding:10px;
	font-weight: bold;
	cursor: pointer;
	color:#ffffff;
	text-transform: uppercase;
  }

  .text-box
  {
	width:500px;
	float:left;
	margin-left: 20px;
	h2
	{
	  text-align: left !important;
	}
  }

  .formular-berreich
  {
	width:500px;
	float:left;

	ul
	{
	  li
	  {
		background-color:red;
	  }
	}
  }
}

.layer
{
  position: fixed;
  width:100%;
  height:100%;
  opacity: 0.9;
  background-color: rgb(10,0,10);
  left:0;
  top:0;
  display:none;
  z-index:5;

  &.active {
	display: block;
  }

  .content-wrapper
  {
	position: relative;
	margin: 0 auto;
	width:500px;
	display: block;
	margin-top: 10px;
  }

  .layer-content
  {
	margin: 0 auto;
	background-color: #ffffff;
	width:100%;
	display: block;
	margin-top: 10px;
  }

  .close-layer
  {
	position: absolute;
	background-color: red;
	width: 30px;
	height: 30px;
	top:0;
	right:0;
	cursor: pointer;
	@include transform(rotate(45deg));
  }

}

.kalenderberreich
{
  height:100%;
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
  position: relative;
  table
  {
	  width:100%;
	  height:500px;
	  tr
	  {
			border:3px solid white;

			td
			{
				width:14%;
			  border:2px solid white;
			  vertical-align: baseline;
			}
	  }
  }

  .event
  {
		padding: 10px;
  }

  .number
  {

  	padding-top: 10px;
  	border-bottom: 2px solid #8e44ad;
  	margin-left: 10px;
  	margin-right: 10px;
  	position: relative;
  	color: #8e44ad;
  }

  .innerEvent
  {
	  width:100%;
	  background:blue;
	  font-size: 10px;
  }
}
.KalenderButtonNext
{
  float: right;
  padding-right: 10px;

  	&:before
		{
	  	font-family: 'icomoon';
	  	content:"\e607";
	  }
}

.KalenderButtonLast
{
  float: right;
  margin-right: 20px;
  margin-bottom: 10px;
  @include transform(rotate(180deg));

  	&:before
		{
	  	font-family: 'icomoon';
	  	content:"\e607";
	  }
}

.saveBtn
{
  background-color: Black;
  border:none;
  margin:5px;
  padding:10px;
  font-weight: bold;
  cursor: pointer;
  color:#ffffff;
  text-transform: uppercase;
}

.formularLayer
{
  position: fixed;
  width:100%;
  height:100%;
  opacity: 0.9;
  background-color: rgb(10,0,10);
  left:0;
  top:0;
  display:none;
  z-index:5;

  &.active {
	display: block;
  }

  .content-wrapper
  {
	position: relative;
	margin: 0 auto;
	width:500px;
	display: block;
	margin-top: 10px;
  }

  .layer-content
  {
	margin: 0 auto;
	background-color: #ffffff;
	width:100%;
	display: block;
	margin-top: 10px;
  }

  .close-layer
  {
	position: absolute;
	background-color: red;
	width: 30px;
	height: 30px;
	top:0;
	right:0;
	cursor: pointer;
	@include transform(rotate(45deg));
  }

}

