@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-4441qg');
	src:url('fonts/icomoon.eot?#iefix-4441qg') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-4441qg') format('truetype'),
		url('fonts/icomoon.woff?-4441qg') format('woff'),
		url('fonts/icomoon.svg?-4441qg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-speech-bubble12:before {
	content: "\e606";
}
.icon-stars15:before {
	content: "\e601";
}
.icon-scenery:before {
	content: "\e602";
}
.icon-marriage:before {
	content: "\e603";
}
.icon-happy6:before {
	content: "\e604";
}
.icon-grave:before {
	content: "\e605";
}
.icon-keyboard53:before {
	content: "\e600";
}
.icon-arrow-right2:before {
	content: "\e607";
}
